# Data cleaning

Om de gegevens van Schiphol bruikbaar te maken voor ArangoDB, moet er voor gezorgd worden dat de kolom 'id' wordt hernoemd '\_id', maar ook dat er een kolom '\_to' wordt voorzien bij zogenaamde edges Deze kolom bevat de verwijzing naar waar deze edge connecteert. Optioneel kan ook een kolom '\_from' voorzien worden indien het gaat om een zuivere associatietabel of indien er voor 'tweerichtingsverkeer' gekozen wordt

In [1]:
# imports
import pandas as pd
import numpy as np

## Data inladen

In [2]:
df = pd.read_csv("C:/Users/bmpka/Documents/Thomas More/3 BIT/Big Data/Schiphol/downloads/flightAircraftType.csv")
df.head() #Show the top 5 rows

   id  flightId iatamain iatasub
0   1         1      320     320
1   2         2      73H     73H
2   3         3      73H     73H
3   4         4      73H     73H
4   5         5      320     320

## Kolom id hernoemen
De kolom id wordt hernoemd naar \_key, zodat ArangoDB ermee kan werken.

In [3]:
df=df.rename(columns = {'id':'_key'})
df.head() #Show the top 5 rows

   _key  flightId iatamain iatasub
0     1         1      320     320
1     2         2      73H     73H
2     3         3      73H     73H
3     4         4      73H     73H
4     5         5      320     320

## flightId omzetten naar _to
ArangoDB heeft een kolom \_to nodig om relaties te kunnen leggen. In die kolom moet het id komen van het document waarnaar het verwijst. Dat betekent dus eerst de naam van de collectie (bijvoorbeeld flight), gevolgd door een schuine streep en daarna het id van dat specifieke document.

Om de kolom flightId te kunnen gebruiken voor de aanmaak van de nieuwe kolom \_to, moet deze wel eerst omgezet worden naar het type string.

In [4]:
df['_to'] = 'BDflight/' + df['flightId'].astype(str)
df['_from'] = 'BDflight/' + df['flightId'].astype(str)
df.head() #Show the top 5 rows

   _key  flightId iatamain iatasub         _to       _from
0     1         1      320     320  BDflight/1  BDflight/1
1     2         2      73H     73H  BDflight/2  BDflight/2
2     3         3      73H     73H  BDflight/3  BDflight/3
3     4         4      73H     73H  BDflight/4  BDflight/4
4     5         5      320     320  BDflight/5  BDflight/5

In [5]:
df.to_csv('C:/Users/bmpka/Documents/Thomas More/3 BIT/Big Data/Schiphol/downloads/flightAircraftType-v2.csv')